* {
    box-sizing: border-box;
}
body {
    /* background: url('https://thumbs.gfycat.com/AlienatedUnripeGnu-max-1mb.gif') no-repeat; */
    text-align: center;
    color: rgb(134, 130, 130);
    width: 500px;
    margin-left: 33%;
    margin-right: 33%;
}

nav {
    display: flex;
    justify-content: space-around;
    border: solid 1px red;
}

a {
    text-decoration: none;
    font-size: 50px;
}
.container-info {
    background: url('https://thumbs.gfycat.com/AlienatedUnripeGnu-max-1mb.gif') no-repeat;
    background-size: 100%;
    display: grid;
    border: solid 1px blue;
    margin-top: 50px;
    text-align: center;
}

/* .flex-2 {
    background: url('https://thumbs.gfycat.com/AlienatedUnripeGnu-max-1mb.gif') no-repeat;
} */

#random {
    /* margin: 0 auto; */
    margin-top: 50px;
    padding: 10px;
}

/* @media only screen and (min-width: 500px) {
    body {
        background-color: blue;
    }
}

@media only screen and (min-width: 1300px) {
    body {
        background-color: brown;
text-align: center;
    }
} */
