* {
    box-sizing: border-box;
}
body {
    background: url('https://c.tenor.com/FsCO6cl82yYAAAAC/light-ball-effects.gif') no-repeat;
    background-position: right top;
    background-color: rgb(3, 0, 3);
    text-align: center;
    background-size: auto;
    font-size: 25px;
    color: rgb(5, 175, 226);
    width: 500px;
    margin-left: 33%;
    margin-right: 33%;
    /* background-color: purple */
}

nav {
    display: flex;
    justify-content: space-around;
    /* border: solid 1px red; */
}

a {
    text-decoration: none;
    font-size: 50px;
}
.container-info {
    /* background: url('./img/bgapp.PNG') no-repeat; */
    /* background-size: cover; */
    display: grid;
    /* border: solid 1px blue; */
    box-shadow: 40px 40px 150px 10px rgb(70, 4, 83);
    margin-top: 20px;
}

#random {
    /* margin: 0 auto; */
    margin-top: 20px;
    padding: 10px;
    font-size: 30px;
    border-radius: 20%;
}

i {
    color: rgb(0, 0, 0);
}

/* @media only screen and (min-width: 500px) {
    body {
        background-color: blue;
    }
}

@media only screen and (min-width: 1300px) {
    body {
        background-color: brown;
text-align: center;
    }
} */
